node_modules
coverage
npm-debug.log
package-lock.json
.DS_Store
changelog.md
*.iml
.idea/
.ipr
.iws
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
dist
*.log
data/